.login-container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login-form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

button {
  background-color: var(--corn-yellow);
  border: none;
  cursor: pointer;
  color: #242424;
  font-size: 1.2rem;
  font-weight: bold;
  width: 10rem;
  height: 2.5rem;
  border-radius: 4px;
}
