.field {
  padding: 1.75rem;
  border-radius: 1rem;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  border-left: 30px solid transparent;
  color: var(--corn-black);

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transform: scale(1.01);
  }

  .field-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .field-header-left {
      display: flex;
      align-items: center;
    }

    .field-title {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-family: 'OpenSansSemiBold', sans-serif;
    }

    .complete-order-button {
      background-color: var(--corn-green);
      color: white;
      border: none;
      padding: 0.75rem 1.25rem;
      border-radius: 0.25rem;
      font-size: 1.25rem;
      cursor: pointer;
      font-family: 'OpenSansMedium', sans-serif;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.025);
        background-color: var(--corn-yellow);
        color: var(--corn-black);
      }
    }
  }

  .field-summary {
    font-size: 1.25rem;
    font-family: 'OpenSansMedium', sans-serif;
  }

  .field-info {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    border-top: 1px solid #e5e7eb;
    margin-top: 1rem;
    padding-top: 1rem;

    .field-info-item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-size: 1.25rem;
    }
  }

  p {
    line-height: 2.5rem;
  }

  &.field-ongoing {
    border-left-color: var(--corn-green);
  }

  &.field-completed {
    border-left-color: #ef4444;
    opacity: 0.5;
  }
}
